{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}

<br><br>
<div class="row">
<div class="col-md-4">
<h2>Categories</h2>
<br>
{% for category in categories %}

   <a href="{{ url_for('show_category', category_id=category.id) }}"> <h3>{{ category.name }}</h3> </a>
    <br>
{% endfor %}
 </div>
<div class="col-md-8">
<h2>Recently added Items</h2>
<br>
{% for item in items %}
   <a href="{{ url_for('show_item', category_id=item.category_id, item_id=item.id) }}"> <h3>{{ item.name }}</h3> </a>
    <br>
{% endfor %}
  </div>
  </div>
{% endblock %}
